* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
}

body {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
}

/*...........Layout.........*/

.layout {
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "band"
    "nav"
    "gallery"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto 1fr;
  transition: all 2.5s ease;
}

.top {
  grid-area: band;
  height: 4vh;
  width: 100%;
  background: gray;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.registro {
  width: 100%;
  display: flex;
  justify-content: center;
}

.registro a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  text-shadow: 0 0 5px greenyellow 0 0 5px greenyellow 0 0 5px greenyellow 0 0
    5px greenyellow;
  transition: all 1.5s ease;
}

.registro a:hover {
  font-size: 2rem;
}

/*...........Header.........*/

header {
  grid-area: nav;
  height: auto;
  width: 100%;
  margin: 30px 0 35px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.logo {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: aliceblue;
}

.log-tit {
  width: 100%;
}

.log-tit h2 {
  margin-bottom: -15px;
  padding: 0;
}

.log-tit h4 {
  padding-left: 30px;
  color: #0b3b17;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
  color: aliceblue;
}

#btn-menu {
  display: none;
}

.navbar label {
  width: 30px;
  height: 30px;
  display: block;
}

.menu {
  position: absolute;
  width: 70%;
  margin-left: -70%;
  transition: all 0.9s;
}

.navbar label:focus {
  background: rgba(240, 248, 255, 0.062);
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.menu li a {
  display: block;
  padding: 5px 20px;
  color: aliceblue;
  text-decoration: none;
  background: rgba(240, 248, 255, 0.062);
}

#btn-menu:checked ~ .menu {
  margin: 0;
}

/*...........Seccion Principal.........*/

.container {
  grid-area: gallery;
  min-height: 90vh;
  width: 100vw;
}

.container-g {
  height: 90vh;
  width: 100%;
  display: flex;
  border-top: 1px dashed rgba(245, 245, 245, 0.452);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tip {
  width: 100%;
}

.container-g h1 {
  width: 200px;
  display: block;
  text-align: center;
  font-family: roboto;
  font-size: 1.8em;
  color: whitesmoke;
  overflow: hidden;
  border-right: 4px solid;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.3em;

  animation: typing 4s steps(7) infinite, blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: whitesmoke;
  }
}

/*...........Galeria.........*/

.land {
  display: flex;
  height: 80%;
  width: 90%;
  background: black;
}

.land img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.5;
  transition: 0.5s ease;
}

.land img:hover {
  cursor: crosshair;
  width: 80%;
  opacity: 1;
  filter: contrast(120%);
}

.cars {
  height: 100%;
  width: 100%;
  display: grid;
  grid:
    ". uno uno uno uno uno uno . . ."
    ". . . . . dos dos dos dos ."
    ".  tres tres tres tres . . . . ."
    ". . . . cuatro cuatro cuatro cuatro . .";
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  transition: all 1.5s ease-out;
}

.area1 {
  height: auto;
  grid-area: uno;
  gap: 5px;
  align-content: center;
}

.area1 img {
  display: block;
  width: 100%;
  transition: all 1s ease;
}

.area1 img:hover {
  width: 150%;
}

.area2 {
  height: auto;
  grid-area: dos;
  gap: 5px;
  align-content: center;
}

.area2 img {
  display: block;
  width: 100%;
  transition: all 1s ease;
}

.area2 img:hover {
  width: 150%;
}

.area3 {
  height: auto;
  grid-area: tres;
  gap: 5px;
  align-content: center;
}

.area3 img {
  display: block;
  width: 100%;
  transition: all 1s ease;
}

.area3 img:hover {
  width: 150%;
}

.area4 {
  height: auto;
  grid-area: cuatro;
  gap: 5px;
  align-content: center;
}

.area4 img {
  display: block;
  width: 100%;
  transition: all 1s ease;
}

.area4 img:hover {
  width: 150%;
}

.mod {
  height: 90vh;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  z-index: 40;
}

.model {
  height: 80%;
  width: 100px;
  opacity: 0.7;
  transition: 1.5s;
}

.model:active {
  height: 100%;
  width: 60%;
  opacity: 1;
}

.model img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 55px;
}

.moda-text {
  rotate: 90deg;
  position: absolute;
  height: 38%;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 50;
  transition: all 4s ease;
}

.foods {
  height: auto;
  box-sizing: border-box;
  padding-top: 10px;
  text-shadow: 0 0 10px #c237db, 0 0 10px #c237db 0 10px #c237db 0 10px #c237db;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.slide-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 10s linear infinite;
  width: calc(200px * 16);
}

.s-track {
  height: auto;
}

.s-trakc img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 4));
    transform: translateX(calc(-200px * 4));
  }
}

.titulacion-food {
  width: 100%;
  position: absolute;
  text-shadow: 0 0 5px whitesmoke, 0 0 5px yellow, 0 0 5px whitesmoke,
    0 0 5px whitesmoke;
  display: flex;
  justify-content: center;
  z-index: 50;
}

.foods h2 {
  font-weight: bold;
  font-size: 1.8rem;
  position: absolute;
  z-index: 50;
  opacity: 2;
}

/*..................................Footer............................................*/

footer {
  grid-area: footer;
  height: 11vh;
  width: 100%;
  background: black;
  opacity: 0.3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contacto {
  height: 90%;
  font-size: 0.8rem;
}

.contacto ul {
  list-style: none;
}

.contacto li a {
  text-decoration: none;
  color: aquamarine;
  text-shadow: 0 0 5px aqua 0 0 5px aqua 0 0 5px aqua 0 0 5px aqua;
  transition: all 1.5s ease-out;
}

.contacto li a:hover {
  color: yellowgreen;
  font-size: 2rem;
}

.social {
  height: 90%;
  font-size: 0.8rem;
}

.social ul {
  list-style: none;
}

.social li a {
  text-decoration: none;
  color: aquamarine;
  text-shadow: 0 0 5px aqua 0 0 5px aqua 0 0 5px aqua 0 0 5px aqua;
  transition: all 1.5s ease-out;
}

.social li a:hover {
  color: yellowgreen;
  font-size: 2rem;
}

.right p {
  color: whitesmoke;
  font-size: 0.5rem;
  text-shadow: 0 0 10px aqua 0 0 10px aqua 0 0 10px aqua 0 0 10px aqua;
  display: none;
}

/*...........Queries.........*/

@media (min-width: 769px) {
  .layout {
    width: 90%;
    display: grid;
    grid:
      "band band band band" 1fr
      "nav gallery gallery gallery" 1fr
      "nav gallery gallery gallery" auto
      "nav gallery gallery gallery" auto
      "nav gallery gallery gallery" auto
      "footer footer footer footer" 1fr
      / 1vw auto auto auto;
  }

  header {
    height: 90vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
  }

  .container {
    width: 98vw;
    margin: 110px 0 220vh 0;
    box-sizing: border-box;
  }

  .container-g {
    width: 95%;
    padding-left: 20px;
  }

  .logo {
    padding: 20px 0 0 3px;
    margin-bottom: 200px;
  }

  .log-tit {
    font-size: 25px;
  }

  .navbar span {
    display: none;
  }

  .menu {
    position: fixed;
    margin: 0;
    width: auto;
    z-index: 100;
  }

  .menu li a {
    font-size: 1rem;
    transition: all 1.5s;
  }

  .menu li a:hover {
    color: yellowgreen;
    font-size: 3rem;
  }

  .area1 {
    height: 250px;
    overflow: hidden;
  }

  .area1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .area1 img:hover {
    height: 300px;
    width: 100%;
  }

  .area2 {
    height: 250px;
    display: grid;
    align-content: center;
  }

  .area2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .area2 img:hover {
    height: 150px;
    width: 100%;
  }

  .area3 {
    height: 80px;
    display: grid;
    align-content: center;
  }

  .area3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .area3 img:hover {
    height: 150px;
    width: 100%;
  }

  .area4 {
    height: 200px;
    width: auto;
    margin-bottom: 20px;
    overflow: hidden;
    display: grid;
    align-content: center;
  }

  .area4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .area4 img:hover {
    height: 250px;
    width: 100%;
  }

  .moda-text {
    width: 80%;
    rotate: 0deg;
    position: absolute;
    height: 38%;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .right p {
    display: block;
    font-size: 1.7rem;
  }
}
